<div class="card card-box">
  <div class="card-title"><h1><small>Fancy File Upload</small></h1></div>

  <form  ng-submit="main.done(formData)">
    <div class="form-group">
      <input class="btn btn-info" type="file" name="file" multiple="no" ng-model="formData.file" ng-change="done(formData)">
    </div>
    <div class="form-group">
      <input class="form-check-input" type="checkbox" value="true" ng-model="formData.isUser">
      <label class="form-check-label" for="input.isUser">Check me out</label>
    </div>
    <button type="submit">CLAUDIO</button>
  </form>
</div>
