<style>
.conversation_orig{
  margin-left:20px
}
footer {
  position: fixed;
  height: 100px;
  bottom: 0;

}
.receiver{
  border-radius: 0 10px 10px 10px;
  color:white;

}
.sender {
  border-radius: 10px 0 10px 10px;
  color:white;
}
.thumbnail{
  max-width:62px;
}


</style>
<div class="col-sm-12 bg-secondary" class="conversation_orig" style="height:100%;" >
  <!-- Heading -->

  <!-- Heading End -->

  <!-- Message Box -->
  <div class="col-md-8 offset-md-4 pull-right p-2">
    <div class="row">
      <div class="col-md-10 text-wrap sender bg-dark">
        sono bello sono bravo mi voglio bene caffe
        <div class="align-text-bottom text-sm-right">3:28</div>

      </div>
      <div class="col-md-2">
        <strong>migone</strong>
        <img class="thumbnail rounded-circle" src="images/topolino.png">
      </div>
    </div>
  </div>
  <div class="product" style="margin:0 auto" ng-repeat="(key,message) in currentChat.messages track by $index">
    <div class="col-md-10 p-2" ng-if="message.sender != control.user && $index > 36">
      <div class="row">
        
        <div class="col-md-10">
          <img class="thumbnail rounded-circle" src="images/topolino.png">
        </div>
        <div class="col-md-10 text-wrap receiver bg-dark">
          {{message.text}}
          <div class="align-text-sm-bottom text-sm-right">{{ message.date | date: " h:mma" }}</div>
        </div>

      </div>
    </div>
    <div class="col-md-8 offset-md-4 pull-right p-2" ng-if="message.sender == control.user && $index > 36">
      <div class="row">
        <div class="col-md-10 text-wrap sender bg-dark">
          {{message.text}}
          <div class="align-bottom text-sm-right">{{ message.date | date: " h:mma" }}<span class="fa fa-2x fa-check text-primary">&nbsp; </span></div>
        </div>
        <div class="col-md-2">
          <strong>migone</strong>
          <img class="thumbnail rounded-circle" src="images/topolino.png">
        </div>
      </div>
    </div>
  </div>






  <!-- Message Box End -->

  <!-- Reply Box -->
  <footer class="footer">
    <form class="conversation-compose" style="background:#444" ng-submit="control.addMessage()">
      <div class="emoji">
        <i class="fa fa-smile-o fa-2x"></i>
      </div>
      <input class="cl-tooltip" name="text" ng-model="control.text" placeholder="Type a message" autofocus required><!--ng-init="control.text='blabla'" ng-required-->
      <div class="photo">
        <i class="fa fa-user"></i>
      </div>
      <div class="photo">
        <i class="fa fa-camera"></i>
      </div>
      <button class="send">
        <div class="circle">
          <i class="fa fa-microphone"></i>
        </div>
      </button>


    </form>
  </footer>


</div>
<!-- Conversation
