<style>
.conversation_orig{
  margin-left:20px
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
</style>
<div class="col-sm-12 row" class="conversation_orig" >
  <!-- Heading -->
  <div class="row heading">
    <div class="col-sm-2 col-md-1  heading-avatar">
      <div class="heading-avatar-icon">
        <img src="images/{{control.partner}}.png">
      </div>
    </div>
    <div class="col-sm-8 col-md-4 heading-name">
      <a class="heading-name-meta">THE KTCHEN
      </a>
      <span class="heading-online">Online</span>
    </div>
    <div class="col-sm-1 col-md-1  heading-dot pull-right">
      <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
    </div>

  </div>
  <!-- Heading End -->

  <!-- Message Box -->
  <div class="row"  >

    <div class="row message-previous">
      <div class="col-sm-12 previous">
        <a onclick="control.previous(this)" id="ankitjain28" name="20">
          Show Previous Message!
        </a>
      </div>
    </div>
    <div ng-repeat="(key,message) in currentChat.messages track by $index">
      <div class="row message-body" ng-if="message.sender != control.user">
        <div class="col-sm-12 message-main-receiver">
          <div class="receiver">
            <div class="message-text">
              {{message.text}}
            </div>
            <span class="message-time pull-right">
              {{message.date | date:"MM/dd/yyyy 'at' h:mma"}} {{$index}}
              <div ng-if="$index == currentChat.messages.length -1">
                <i ng-if="checka" class="fa fa-2x fa-check"></i>
              </div>
            </span>
          </div>
        </div>
      </div>


      <div class="row message-body" ng-if="message.sender == control.user">
        <div class="col-sm-12 message-main-sender">
          <div class="sender">
            <div class="message-text">
              {{message.text}}
            </div>
            <span class="message-time pull-right">
               {{message.date | date:"MM/dd/yyyy 'at' h:mma"}} {{$index}}
              <div ng-if="$index == currentChat.messages.length -1">
                <i ng-if="checka" class="fa fa-2x fa-check"></i>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div><!-- ng-repaat -->
  </div>
  <!-- Message Box End -->

  <!-- Reply Box -->
<footer class="footer fixed-footer">
  <form class="conversation-compose" style="background:#444" ng-submit="control.addMessage()">
    <div class="emoji">
      <i class="fa fa-smile-o fa-2x"></i>
    </div>
    <input class="cl-tooltip" name="text" ng-model="control.text" placeholder="Type a message" autofocus required><!--ng-init="control.text='blabla'" ng-required-->
    <div class="photo">
      <i class="fa fa-user"></i>
    </div>
    <div class="photo">
      <i class="fa fa-camera"></i>
    </div>
    <button class="send">
      <div class="circle">
        <i class="fa fa-microphone"></i>
      </div>
    </button>


  </form>
</footer>


</div>
<!-- Conversation
