<style>
.conversation_orig{
  margin-left:20px
}
footer {
  position: fixed;
  height: auto;
  bottom: 0;

}
.receiver{
  border-radius: 0 10px 10px 10px;
  color:white;

}
.sender {
  border-radius: 10px 0 10px 10px;
  color:white;
}
.thumbnail{
  max-width:62px;
  max-height:62px;
}


</style>
<div class="col-sm-12 bg-secondary" class="conversation_orig" style="height:100%;" >
  <!-- Heading -->

  <!-- Heading End -->

  <!-- Message Box -->
  <div class="row">
  <div class="col-md-8 offset-md-4 pull-right p-2">
    <div class="row">
      <div class="col-md-10 text-wrap sender bg-dark">
        <h4 class="text-wrap">sono bello sono bravo mi voglio bene caffe</h4>
        <div class="align-text-bottom text-sm-right">3:28</div>

      </div>
      <div class="col-md-2 bg-secondary text-center">
        <h4 class="text-wrap">Topolino</h4>
        <img class="thumbnail rounded-circle" src="images/topolino.png">
      </div>
    </div>
  </div>
  <div class="col-md-8 p-2">
    <div class="row">
        <div class="col-md-2 bg-light text-center">
          <strong class="text-wrap">Cecilia</strong>
          <img class="thumbnail rounded-circle mx-auto" src="images/thecat.jpg">
        </div>
        <div class="col-md-10 p-2 receiver bg-dark">
          <h4 class="text-no-wrap">Ehi ho trovto questa moneta!!! ki CAZZ ki kazz ki kazz ki kazz ki kazz</h4>
          <div class="align-text-bottom text-sm-right">3:29</div>
        </div>

    </div>

  </div>
  <div class="col-md-8 offset-md-4 pull-right p-2">
      <div class="row">
        <div class="col-md-10 text-wrap sender bg-dark">
          <h4 class="text-wrap">sono bello sono bravo mi voglio bene caffe</h4>
          <div class="align-text-bottom text-sm-right">3:28</div>
  
        </div>
        <div class="col-md-2 bg-secondary text-center">
          <h4 class="text-wrap">Topolino</h4>
          <img class="thumbnail rounded-circle" src="images/.png">
        </div>
      </div>
    </div>
    

</div>
  
  </div>






  <!-- Message Box End -->

  <!-- Reply Box -->
  <div hl-sticky="bottom" alwaysSticky="true" ><h2 class="text-primary">CIAO SONO STICKE</h2>
  <div class="p-2" offset="100">
    <form name="form" class="conversation-compose" style="background:#444" ng-submit="control.addMessage()">
      <div class="emoji">
        <i class="fa fa-smile-o fa-2x"></i>
      </div>
      <div class="input-group">
        <input class="cl-tooltip form-control" name="text" ng-model="control.text" placeholder="Type a message" autofocus required><!--ng-init="control.text='blabla'" ng-required-->
        <select type="text" class="custom-select" ng-model="control.other_input" >
          <option>MANGIARE</option>
          <option>DORMIRE</option>
          <option>CACARE</option>
        
        </select>
        <div class="photo"><i class="fa fa-2x fa-paperclip"></i></div>
        <div class="photo"><i class="fa fa-2x fa-microphone"></i></div>
        <div class="photo"><button><i class="fa fa-2x fa-send" ng-click="control.error = 'errore'"></i></button></div>
        
      </div>
      <h4><i class="fa fa-info-circle"></i>{{control.error}}</h4>

    </div>
      


    </form>
  </div>
  </div>


</div>
<!-- Conversation
