
<style>
.thumbnail .corner{
  position:absolute;
  right:0;
  background-color:#70707070;

}
.thumbnail{
  transition-duration: .5s ease-out all;
}
.thumbnail img{
  width:200px;
  height:auto;
}
.thumbnail:hover{
  opacity:0;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: 0;

}
.grey {
  color: #999;
}
.bold {
  font-weight: bold;
}
.card{
  font-family:Verdana;
  font-size:22px;
}
.white{
  color:white;
}
.yellow{color:yellow}
img {
  width: 100%;
}
.img-container {
  position:relative;
  max-width:500px;
}
.thumbnail {
  transition-duration: 1s;
}

.iverposed {
  position:absolute;
  top:0;
  opacity: 0;
  transition-duration: 1s;
}

.thumbnail:hover {
  opacity: .5;
}

.iverposed:hover {
  opacity: 1;
}

.mycaption {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color:#545;

}
.lead{
  font-size:22px;
  text-shadow: 1px 1px 2px black;
  color:#eee;
}
.rating{
  background-color:#444A;

}

</style>
<div class="card card-block">
  <div class="navbar navbar-collpase">
    <div class="nav-item">
      <p><i class="bold">POPULAR</i><span class="grey">GTFO cio:)</span></p>
    </div>
    <div class="nav-item">
      <a class="btn btn-primary" ng-init="ctrl.fire = 0" ng-click="ctrl.loadMovies()">FUOCO A VOLO</a>
      <a class="btn btn-danger" ng-init="ctrl.fire = 0" ng-click="ctrl.setTable()">FIGA</a>

    </div>
    <div class="pull-right nav-item">
      <i class="fa fa-sort fa-2x"></i>
    </div>
  </div>
</div>
<cl-rating value="4"></cl-rating>
<div class="container">

  <div class="row ">
    <div class="muovi col-sm-6 col-md-6 col-lg-3" >
      <div class="mx-auto row col-md-12 bg-dark" >
        <div class="col-md-3 text-left">
          <i class="grey">20018</i>
        </div>
        <div class="col-md-3 text-right pull-right">
          <i class="grey">Comedy/Drama</i>

        </div>
      </div>
      <div class="mx-auto img-container" >
        <img class="thumbnail" src="images/locandina1.jpg">
        <div class="iverposed" style="width:100%;">
          <img  src="images/play.png">
          <div class="rating mx-5 yellow">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
        <p class="col-md-12 lead text-center bg-dark"> <b>ELLE &amp; JOHN</b> </p>
      </div>
    </div>

  </div>
  <div class="muovi col-sm-6 col-md-3 col-lg-6" ng-repeat="movie in data track by $index">
    <div class="movie_single" style="padding:20px;">
      <a class="unfilm thumbnail"  href="/films/epouse-moi-mon-pote">
        <img class="img-responsive img-thumbnail" alt="Poster de Epouse-moi mon pote" title="Epouse-moi mon pote" src="{{movie.image}}">
        <i class="fa fa-play white"></i>
        <div class="text-justify text-wrap"><span>{{movie.name}}</span></div>
        <h1><small>{{movie.year}}</small></h1>{{movie.star}}
      </a>
    </div>
    <div ng-if="debug == 1">
      {{$index}} - {{movie.name}} -- log : {{ movie.log}}
    </div>
  </div>


</div>
<h1 class="text-justify">ANCORRRRRA Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</h1>

</div>
